<h1>Novels Under that Genre:</h1>

<% @genre.novels.each do |novel| %>

<ul>
	<strong><%= link_to novel.title, novel_path(@genre, novel)%></strong>
</ul>

<% end %> 

<h4>You are logged in as: <%= current_user.name.upcase if current_user%></h4>

<%= link_to 'Back', genre_path %> <%= link_to 'Log Out', logout_path, method: :delete %>