<h1>Novels Under that Genre:</h1>

<%#= @genre.inspect %>
<% @genre.novels.each do |novel| %>
<ul>
<strong><%= link_to novel.title, genre_novel_path(params[:id][:genre_id]) %></strong>
</ul>
	<% end %> 

<%= link_to 'Back', genres_path %> <%= link_to 'Log Out', logout_path, method: :delete %>