<h1> Novel Info </h1>

<div>
	<ul>
		<% @novels.each do |novela| %>
		 	<li>
		 		<strong> <%= novela. %> </strong> 
		 	</li>
		<% end %>

	</ul>
</div>
<br>
<br>
<br>
	<% if current_user %>
 	<h3>You are logged in as: <%= current_user.name %></h3>
<% end %>
<h4><%= link_to 'Log Out', logout_path, method: :delete %> <%= link_to 'Back', genres_path %></h4>

