<h1> Novels </h1>
<% if current_user %>
 	<h3>You are logged in as: <%= current_user.name %></h3>
<% end %>

<h2>Drama</h2>
<div>
	<ul>
		<% @novels.each do |n| %>
		 	<li>
		 		<strong> <%= n.title %> </strong> 
		 	</li>
		<% end %>

	</ul>
</div>
	
<br><h4><%= link_to 'Log Out', logout_path, method: :delete %> <%= link_to 'Back', users_path %></h4>

