<h2><%= current_user.name if current_user%></h2>
<%= link_to 'Log Out', logout_path, method: :delete %>
<!-- need code to say 
on this page only the novels under the chosen category in the novels' index -->
