@import "bootstrap-sprockets";
@import "bootstrap";

/*BODY {
	background: url("app/assets/images/bookshelf.jpeg");
}*/

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 50px;
   font-color: white;
}
